{% if file.mimetype == 'application/pdf'%}
    <p id="pdf-warning">It appears you don't have Adobe Reader or PDF support in this web
        browser. <a href="{{ path("mdb_document_document_file", {'id': file.id }) }}">Click here to download the PDF</a></p>
    <div id="embed-pdf"></div>
    <script type="text/javascript">
        $(document).ready(function(){
            if($("#embed-pdf")) {
                var myPDF = new PDFObject({
                    url: "{{ path("mdb_document_document_file", {'id': file.id}) }}",
                    width: "100%",
                    height: "1000px"
                }).embed('embed-pdf');
                if(myPDF) $('#pdf-warning').remove();
            }
        })
    </script>
{% endif %}

{% if file.mimetype in ['image/png','image/jpeg'] %}
    <img src="{{ path("mdb_document_document_file", {'id': file.id }) }}" alt="">
{% endif %}
